* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
}

body {
  background: url("./assets/bgMenu.webp") no-repeat center center;
  background-size: cover;
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  overflow-x: hidden;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
}
.blurBg {
  background: url("./assets/bgMenu.webp") no-repeat top center;
  background-size: cover;
  text-align: center;
  background-color: #000000bd;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-backdrop-filter: blur(100px); /* Compatibilité Safari */
  backdrop-filter: blur(100px);
  background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent */
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000000e3;
  height: 50px;
}
.logoId {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
}
.connected {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 5px;
  position: absolute;
  display: none;
  top: 50px;
  right: 0;
  font-size: 0.5em;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fa-user {
  font-size: 1.5em;
  color: white;
}
.logoGot {
  height: 50px;
  width: 50px;
}
.logoGot img {
  width: 100%;
  height: 100%;
}
input {
  visibility: hidden;
}
.navBar {
  position: absolute;
  top: 50px;
  left: -110px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000000cb;
  transition: left 0.3s ease-in-out;
}
.navBarSlide {
  left: 0;
}
.navBarSlide2 {
  left: -110px;
}
.spans {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}
.spanContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.spanBorder1,
.spanBorder2,
.spanBorder3 {
  border-radius: 5px;
  width: 20px;
  border: 2px solid white;
}

main {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  padding: 40px;
}
footer {
  background-color: #000000e3;
  visibility: hidden;
  padding: 20px;
}
.footerP {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100%;
  color: white;
}
a {
  color: white;
  font-size: 1em;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#episodes-container,
#saisons-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}
#episodes-container {
  justify-content: center;
}
.saison-card {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 370px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
  font-size: 2rem;
}

.saison-card::after {
  z-index: -1;
  content: "" attr(data-saison);
  position: absolute;
  left: -25px;
  bottom: -15px;
  font-size: 2em;
  color: #dddddda4;
  transition: 1s ease-out;
  transform: scale(1);
}
.saison-card:hover::after {
  transition: 1s ease;
  transform: scale(1.2);
  transition: color 0.3s ease;
  color: #ffffff;
}
.saison-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.episode-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 3px solid #ddd;
  padding: 10px;
  width: 350px;
  height: 160px;
  border-radius: 5px;
  cursor: pointer;
  color: #ddd;
  background-color: #000000f3;
  font-size: 1.2rem;
  transition: 1s ease-out;
  transform: scale(1);
}

.episode-card:hover {
  transition: 1s ease;
  transform: scale(1.05);
}
.btnReturn {
  bottom: -40px;
  right: 30px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("assets/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: #0000005b;
}

.modal {
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  border-radius: 5px;
  background: white;
  padding: 20px;
  gap: 20px;
  width: 80%;
  text-align: center;
}
#modal-title {
  text-transform: uppercase;
  font-size: 1.5rem;
}
#modal-resume {
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
}
.close {
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.carousel-Img {
  overflow: hidden;
}
.carousel img {
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

button {
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  border-radius: 50%;
}

h1 {
  margin-top: 20px;
  visibility: hidden;
  font-size: 2em;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #000000;
  padding: 0 20px 50px;
}

@media screen and (width > 430px) {
  nav {
    height: 80px;
  }
  a {
    font-size: 1.2em;
  }
  .spanBorder1,
  .spanBorder2,
  .spanBorder3 {
    width: 30px;
    border: 3px solid white;
  }
  .spans {
    display: none;
  }

  .logoGot {
    width: 80px;
    height: 80px;
    margin-left: 44px;
    cursor: pointer;
  }
  .fa-user {
    font-size: 2em;
    color: white;
  }
  .navBar {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .connected {
    padding: 10px;
    top: 80px;
    right: 0;
    font-size: 0.8em;
  }

  h1 {
    margin-top: 100px;
    width: 70%;
  }
  .saison-card {
    width: 300px;
    height: 450px;
  }
  .saison-card img {
    width: 100%;
    height: 100%;
  }
  .episode-card {
    width: 400px;
    height: 200px;
  }

  .carousel img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (width > 1024px) {
  h1 {
    margin-top: 20px;
    padding: 50px;
    width: 70%;
  }
  .connected {
    top: 80px;
    right: 0;
    font-size: 1.2em;
  }
  .navBar {
    position: absolute;
    top: 10px;
    left: 0;
    gap: 20px;
    display: flex;
    flex-direction: row;
    width: 20%;
    font-size: 1.5em;
  }

  .saison-card {
    width: 350px;
    height: 520px;
  }
  .saison-card img {
    width: 100%;
    height: 100%;
  }
  .episode-card {
    width: 400px;
    height: 200px;
  }

  #modal-title {
    font-size: 2.5rem;
  }
  .carousel img {
    width: 600px;
    height: 400px;
  }
  #saisons-container {
    gap: 30px;
  }
  .saison-card::after {
    left: -40px;
    bottom: -25px;
    font-size: 3em;
  }

  /* Animation pour transformer en X */
  .spans span {
    transition: all 0.3s ease-in-out;
  }

  .spans:hover .spanBorder1 {
    transform: translateX(15px);
  }

  .spans:hover .spanBorder3 {
    transform: translateX(-15px);
  }

  .spans:hover .spanBorder2 {
    opacity: 0;
  }
}
